body{
  font-family: Lucida Console;
  color: lavender;
  background-color: purple;
  text-align: center;
}

a{
  text-decoration: none;
  color: hotpink;
  background-color: lavender;
  padding: 10px;
}

#fav-num{
  color: hotpink;
  background-color: white;
}

#fav-clr{
  color: ghostwhite;
  background-color: dodgerblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}