body{
  font-family: Lucida Console;
  background-color: salmon;
  text-align: center;
}

a{
  text-decoration: none;
  color: hotpink;
  background-color: lavender;
  padding: 10px;
}

#fav-num{
  color: hotpink;
  background-color: white;
}