body{
  font-family: Courier;
  color: dodgerblue;
  background-color: #FFF380;
  text-align: center;
}

a{
  text-decoration: none;
  color: yellow;
  background-color: dodgerblue;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}