body{
  font-family: Lucida Console;
  background-color: skyblue;
  text-align: center;
}

a{
  text-decoration: none;
  color: dodgerblue;
  background-color: yellow;
  padding: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}