body{
  font-family: Lucida Console;
  background-color: teal;
  text-align: center;
}

a{
  text-decoration: none;
  color: red;
  background-color: blue;
  padding: 3px;
}
#fav-ani{
  color: black;
  background-color: orange;
}

#fav-num{
  color: darkgreen;
  background-color: white;
}
#fav-color{
  color: blue;
  background-color: white;
}